extends ../layout

block contentFluid
  .col-md-4.offset-md-1
    h1.main-title #{title}

block content
  form(action="/users" method="post" class="container")
    .form-row.justify-content-center
      .form-froup.col-md-4.mb-2
        label(for="firstname") Firstname
        input(id="firstname" class="form-control" type="text" name="firstname" aria-description="firstnameHelp" placeholder="Enter Firstname")
        label(for="lastname") Lastname
        input(id="lastname" class="form-control" type="text" name="lastname" aria-description="lastnameHelp" placeholder="Enter Lastname")
    .form-row
      .form-group.col-md-4.mx-auto
        hr
        h5 Photo Section
    +photoForm
    +photoForm
    .form-row
      .form-group.col-md-4.offset-md-4
        button(class="btn btn-success mt-2" type="submit") Submit