extends layout

block content
    .container
        .col-md-4.text-justify
            ul(class="list-group")
                li(class="list-group-item") Hubert
                li(class="list-group-item") Michael
                li(class="list-group-item") Thomas
                li(class="list-group-item") Erwin