doctype html
html(lang=de)
  head
    title= title
    link(rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css")
    link(rel="stylesheet" href="/static/css/style.css")
  body
    include partials/navigation
    include mixins/photo-form
    .container-fluid
      block contentFluid
    .container
      block content
    block footerScripts
