doctype html
html(lang=de)
  head
    title= title
    link(rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css")
    link(rel="stylesheet" href="/static/css/style.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
  body
    include partials/navigation
    include mixins/buttonMixin
    include mixins/formMixin
    include mixins/inputEmptyMixin
    include mixins/inputMixin
    .container-fluid
      block contentFluid
    .container
      block content
    block footerScripts
