mixin inputEmptyMixin
  .form-row
    .input-group.col-md-4.mx-auto
      input(
        class="form-control mb-2"
        name="photos[]"
        type="text"
        placeholder="http://add-your-photo-here.url"
      )
        