extends layout

block content
    .container
        .col-md-4.text-justify
            ul(class="list-group")
            each val, index in user
                li(class="list-group-item")
                    .clearfix
                        .float-left= val
            div(class="btn-group float-right" role="group" aria-label="edit field")
                a(href="/edit" class="btn btn-danger") Edit
                a(href="/edit" class="btn btn-danger") Delete